#home-page {
    height: 100vh;
    width: 100%;
}

#hero-section {
    height: 90vh;
    width: 100%;
}

#hero-gradient-layer {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent, var(--secondary-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0vmax 3vmax;
}

#hero-gradient-layer > h1 {
    font-size: 4vmax;
    font-weight: 900;
    width: 40%;
    color: var(--primary-color);
}

#hero-gradient-layer > h2 {
    font-size: 2vmax;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1.2vmax;
}

#hero-gradient-layer > p {
    font-size: 1vmax;
    font-weight: 400;
    width: 45%;
    color: #000000;
    text-align: justify;
}

#hero-gradient-layer > .link > button {
    padding: 0.75vmax 1.2vmax;
    border-radius: 500px;
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: fit-content;
}

#hero-gradient-layer > .link > button > p {
    font-weight: 500;
    font-size: 0.8vmax;
    color: #000;
    text-decoration: none;
    z-index: 3;
    position: relative;
    transition: 0.3s;
    transition-delay: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25vmax;
}

#hero-gradient-layer > .link > button::after {
    content: "";
    position: absolute;
    height: 500%;
    width: 100%;
    background-color: var(--primary-color);
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0%);
    border-radius: 45%;
    transition: 0.5s;
    pointer-events: none;
}

#hero-gradient-layer>.link>button:hover p {
    color: #fff;
}

#hero-gradient-layer>.link>button:hover::after {
    top: 0vmax;
    left: 15%;
    transform: scale(2);
}

#page1 {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5vmax;
}

#page1 > h1 {
    font-size: 1.5vmax;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: -2.5vmax;
    padding-left: 35vmax;
    line-height: 4vmax;
}

#page1 > h1 > span {
    position: relative;
    font-size: 3vmax;
    margin-right: 1vmax;
    font-weight: 800;
}

#page1 > h1 > span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 7px;
    border-radius: 100vmax;
    background-color: var(--primary-color);
}

#cards-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page2-card {
    border: 4px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 8vmax;
    cursor: pointer;
    border-radius: 0.4vmax;
    padding: 0vmax 2vmax;
    position: relative;
    overflow: hidden;
}

.page2-card-masker {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    transform: translate(-100%);
    pointer-events: none;
    transition: 0.4s;
}

.page2-card:hover .page2-card-masker {
    transform: translate(0%);
}

.page2-card > h1 {
    text-align: center;
    font-size: 1.75vmax;
    font-weight: 500;
    z-index: 300;
    transition: 0.2s;
    transition-delay: 0.1s;
}

.page2-card:hover h1 {
    color: var(--secondary-color);
}

#page2 {
    height: 50vh;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vmax;
}

#page2 > h1 {
    font-size: 3.25vmax;
    font-weight: 800;
    color: var(--primary-color);
    margin-top: 4vmax;
    margin-bottom: -2.5vmax;
}

#page2 > p {
    font-size: 1.2vmax;
    font-weight: 600;
    color: #000000;
}

#swiper-div {
    width: 80vmax;
    height: 22vmax;
    position: relative;
}

#swiper-div-gradient-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--secondary-color), transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, var(--secondary-color));
    z-index: 5;
    pointer-events: none;
    /* background-color: var(--secondary-color); */
}

.mySwiper {
    height: 100%;
    width: 100%;
}

.mySwiperSlide {
    background-color: var(--primary-color);
    max-height: 100%;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.mySwiperSlide > .swiperSlideMasker {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color-fade);
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiperSlideMasker > h1 {
    font-size: 3vmax;
    color: #fff;
}

#page3 {
    height: 70vh;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    padding: 0vmax 3vmax;
}

#page3-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3-image-container {
    width: 80%;
    height: 80%;
    position: relative;
    cursor: grab;
}

#page3-image-container > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#page3-image-container > .box {
    position: absolute;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 8px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 20px #00000070;
}

.box-up {
    height: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0vmax 0.75vmax;
    width: 100%;
}

.box-up > p {
    font-size: 1vmax;
    font-weight: 600;
    margin: 0.5vmax 0vmax;
}

.box-down {
    width: 100%;
    height: 100%;
    display: flex;
}

.box-left {
    width: fit-content;
    padding: 0.5vmax 1vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-left > h1 {
    font-size: 2vmax;
    font-weight: 700;
}

.box-right {
    width: fit-content;
    padding: 0.5vmax 0.25vmax;
    display: flex;
    align-items: center;
}

.box-right > p {
    font-size: 0.8vmax;
    font-weight: 400;
}

.box1 {
    top: 20%;
    left: 4.5%;
    width: 38.5%;
}

.box2 {
    bottom: 20%;
    right: 4.5%;
    width: 42.5%;
}

#page3-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0vmax 2vmax;
}

#page3-right > h1 {
    font-size: 4vmax;
    font-weight: 700;
    color: var(--primary-color);
}

#page3-right > h4 {
    font-size: 0.8vmax;
    font-weight: 900;
    color: var(--primary-color);
}

#page3-right > ol {
    list-style: none;
}

#page3-right > ol > li {
    font-size: 0.9vmax;
    font-weight: 500;
    color: #000000;
    margin-top: 1vmax;
    margin-left: 0vmax;
    width: 80%;
    text-align: justify;
}

#page4 {
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1vmax;
}

#page4 > h1 {
    font-size: 4vmax;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 1vmax;
}

#review-grid {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2vmax;
}

.review-row {
    height: 50%;
    width: 100%;
    display: flex;
    gap: 2vmax;
}

.review-cell {
    width: 50%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 0px 30px #00000052;
    position: relative;
    cursor: grab;
    overflow: hidden;
}

.review-cell > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

.reviewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: 0.5s;
    display: flex;
    align-items: flex-end;
    padding-left: 5vmax;
    padding-bottom: 1vmax;
}

.reviewer > h1 {
    color: #fff;
    font-size: 1.75vmax;
    transition: 0.5s;
}

.review {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translateY(100%);
    transition: 0.5s;
    padding: 6vmax 2vmax;
}

.review > p {
    font-size: 0.95vmax;
    color: #fff;
}

.review-cell:hover .reviewer {
    transform: translateY(-70%);
}

.review-cell:hover img {
    opacity: 0;
}

.review-cell:hover .reviewer {
    padding-left: 2vmax;
    padding-bottom: 1vmax;
}

.review-cell:hover .review {
    transform: translateY(0%);
}





#contact-section {
    height: 80vh;
    width: 100%;
    padding: 0vmax 3vmax;
}

#contact-body {
    height: 100%;
    width: 100%;
    position: relative;
}

#contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 0.3vmax;
    padding: 2vmax 0vmax;
    box-shadow: 0px 0px 50px #0000005e;
}

#contact-form > h1 {
    padding-left: 20vmax;
    font-size: 2vmax;
    font-weight: 600;
}

#contact-form > p {
    padding-left: 20vmax;
    font-weight: 400;
    font-size: 0.8vmax;
    margin-bottom: 2vmax;
}

#contact-form > form {
    display: flex;
    flex-direction: column;
    padding: 0vmax 3vmax;
    padding-left: 20vmax;
    gap: 2vmax;
    width: 50vmax;
}

.contact-row {
    display: flex;
    flex-direction: column;
}

.contact-row > label {
    font-size: 1.2vmax;
    font-weight: 500;
    margin-bottom: 0.5vmax;
    color: #ffffffd0;
}

.contact-row > input {
    font-size: 0.85vmax;
    font-weight: 500;
    color: #000;
    background-color: #00000017;
    box-shadow: 0px 0px 10px #00000000;
    border: none;
    outline: none;
    width: 100%;
    padding: 0.6vmax 1vmax;
    border-radius: 0.3vmax;
}

.contact-row > textarea {
    font-size: 0.85vmax;
    font-weight: 500;
    color: #000;
    background-color: #00000017;
    box-shadow: 0px 0px 10px #00000000;
    border: none;
    outline: none;
    width: 100%;
    padding: 0.6vmax 1vmax;
    border-radius: 0.3vmax;
}

.contact-row > input:focus {
    outline: 2px solid #000;
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000067;
}

.contact-row > textarea:focus {
    outline: 2px solid #000;
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000067;
}

.submitSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1vmax;
}

.submitSection > button {
    font-size: 1vmax;
    font-weight: 800;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 0.6vmax 2vmax;
    border-radius: 500px;
    border: none;
    outline: 2px solid transparent;
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.2s;
}

.submitSection > button:hover {
    background-color: transparent;
    outline: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.error-msg {
    font-size: 0.8vmax;
    color: var(--primary-color);
    margin-top: 0.2vmax;
}

#contact-cover {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    border-radius: 0.3vmax;
    padding: 3vmax 3vmax;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    border-radius: 0.3vmax;
    box-shadow: 0px 0px 35px #0000005e;
}

#contact-cover > h1 {
    font-weight: 600;
    font-size: 2vmax;
    color: #fff;
    margin-bottom: 2vmax;
}

.touch-row {
    display: flex;
    align-items: center;
    gap: 1vmax;
}

.touch-icon {
    padding: 0.5vmax;
    padding-left: 0vmax;
}

.touch-icon > .icon {
    font-size: 1.5vmax;
    color: #fff;
}

.touch-content {
    font-size: 0.95vmax;
    font-weight: 500;
    color: #ffffffda;
}