#home-page {
    height: 100vh;
    width: 100%;
}

#hero-section {
    height: 90vh;
    width: 100%;
}

#hero-gradient-layer {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent, #d1eaff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0vmax 3vmax;
}

#hero-gradient-layer > h1 {
    font-size: 5vmax;
    font-weight: 900;
    width: 40%;
    color: #005696;
}

#hero-gradient-layer > p {
    font-size: 1vmax;
    font-weight: 400;
    width: 50%;
    color: #000000;
}

#page2 {
    height: 80vh;
    width: 100%;
    background-color: #d1eaff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vmax;
}

#page2 > h1 {
    font-size: 4vmax;
    font-weight: 800;
    color: #005696;
    margin-top: 4vmax;
}

#swiper-div {
    width: 90vmax;
    height: 30vmax;
    position: relative;
}

#swiper-div-gradient-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #d1eaff, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #d1eaff);
    z-index: 5;
    pointer-events: none;
    /* background-color: #EFEAE3; */
}

.mySwiper {
    height: 100%;
    width: 100%;
}

.mySwiperSlide {
    background-color: #005696;
    max-height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.slide-left {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.slide-image-container {
    width: 14vmax;
    height: 14vmax;
    border-radius: 50%;
    overflow: hidden;
}

.slide-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide-right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vmax;
    padding-right: 3vmax;
    gap: 1vmax;
}

.slide-right > h1 {
    color: #fff;
    font-size:2.5vmax;
    font-weight: 700;
}

.slide-right > p {
    color: #fff;
    font-size:0.9vmax;
    font-weight: 400;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #d1eaff;
    display: flex;
    padding: 0vmax 3vmax;
}

#page3-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3-image-container {
    width: 80%;
    height: 80%;
    position: relative;
    cursor: grab;
}

#page3-image-container > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#page3-image-container > .box {
    position: absolute;
    background-color: #005696;
    color: #fff;
    border-radius: 8px;
    transition: 0.3s;
    display: flex;
    overflow: hidden;
    padding: 0.6vmax;
    gap: 0.5vmax;
    box-shadow: 0px 0px 20px #00000070;
}

.box-left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-left > h1 {
    font-size: 2vmax;
    font-weight: 700;
}

.box-right {
    width: 60%;
    display: flex;
    align-items: center;
}

.box-right > p {
    font-size: 0.8vmax;
    font-weight: 400;
}

.box1 {
    top: 20%;
    left: 4.5%;
    width: 28%;
}

.box2 {
    bottom: 20%;
    right: 4.5%;
    width: 45%;
}

#page3-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0vmax 2vmax;
}

#page3-right > h1 {
    font-size: 4vmax;
    font-weight: 700;
    color: #005696;
}

#page3-right > h4 {
    font-size: 0.8vmax;
    font-weight: 900;
    color: #005696;
}

#page3-right > ol > li {
    font-size: 0.9vmax;
    font-weight: 500;
    color: #000000;
    margin-top: 1vmax;
    margin-left: 1.2vmax;
}

#page4 {
    height: 110vh;
    width: 100%;
    background-color: #d1eaff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
}

#page4 > h1 {
    font-size: 4vmax;
    font-weight: 800;
    color: #005696;
    margin-bottom: 1vmax;
}

#review-grid {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2vmax;
}

.review-row {
    height: 50%;
    width: 100%;
    display: flex;
    gap: 2vmax;
}

.review-cell {
    width: 50%;
    height: 100%;
    background-color: #005696;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #00000052;
    position: relative;
    cursor: grab;
    overflow: hidden;
}

.review-cell > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

.reviewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: 0.5s;
    display: flex;
    align-items: flex-end;
    padding-left: 5vmax;
    padding-bottom: 2.5vmax;
}

.reviewer > h1 {
    color: #fff;
    font-size: 1.75vmax;
    transition: 0.5s;
}

.review {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translateY(100%);
    transition: 0.5s;
    padding: 6vmax 2vmax;
}

.review > p {
    font-size: 0.95vmax;
    color: #fff;
}

.review-cell:hover .reviewer {
    transform: translateY(-70%);
}

.review-cell:hover img {
    opacity: 0;
}

.review-cell:hover .reviewer {
    padding-left: 2vmax;
    padding-bottom: 1vmax;
}

.review-cell:hover .review {
    transform: translateY(0%);
}