#footer {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-dark);
    padding: 0vmax 3vmax;
    box-shadow: 0px 0px 50px #000000a6;
}

#footer-top {
    height: 75%;
    width: 100%;
    display: flex;
}

#footer-top h1 {
    color: var(--secondary-color);
    font-size: 1.4vmax;
    font-weight: 800;
    margin-bottom: 0.5vmax;
}

#footer-top p {
    color: #d1eaff9c;
    font-size: 0.8vmax;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s;
    width: fit-content;
}

#footer-top p:hover {
    color: #fff;
}

#footer1 {
    width: 30%;
    height: 100%;
}

#footer1a {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.25vmax;
}

#footer1a > img {
    width: 4vmax;
    height: 4vmax;
    object-fit: cover;
}

#footer1a > p {
    font-size: 1.5vmax;
    font-weight: 600;
    color: var(--secondary-color);
}

#footer1b {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer1b > h1 {
    font-size: 1.5vmax;
    font-weight: 600;
    color: var(--secondary-color);
    line-height: 1.2vmax;
    margin-bottom: 0.5vmax;
}

#footer1b > p {
    font-size: 0.75vmax;
    width: 60%;
}

#footer2 {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer3 {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer4 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer4 > textarea {
    font-size: 0.75vmax;
    font-weight: 500;
    padding: 0.5vmax 0.75vmax;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 0.5vmax;
    background-color: #ffffffc9;
}

#footer4 > textarea:focus {
    outline: 2px solid var(--secondary-color);
}

#footer4 > button {
    border: none;
    outline: none;
    border-radius: 200px;
    padding: 0.4vmax 2vmax;
    font-size: 0.75vmax;
    cursor: pointer;
    width: fit-content;
    background-color: var(--secondary-color);
    color: #000;
    transition: 0.2s;
}

#footer4 > button:hover {
    background-color: transparent;
    color: var(--secondary-color);
    outline: 2px solid var(--secondary-color);
}

#footer-bottom {
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ffffff4d;
}

#footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-bottom > #images {
    display: flex;
    gap: 0.5vmax;
}

#footer-bottom > #images > a > img {
    height: 1.85vmax;
    width: 1.85vmax;
    object-fit: cover;
}

#footer-bottom > #copyright > p {
    font-size: 0.8vmax;
    color: #ffffff88;
}