@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

:root {
    --primary-color: #111c4d;
    --primary-color-dark: #002a38;
    --primary-color-fade: #090e2149;
    --primary-color-fade2: #090e2128;
    --secondary-color: #95def7;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: var(--primary-color);
    border-radius: 100vmax;
}

body {
    scrollbar-width: 10px;
}

*::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

body {
    background-color: var(--secondary-color);
}

